.buttondiv {
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 40px;
  width: 100%;
}
.bluebutton {
  background-color: rgb(73, 170, 216);
  width: 70px;
  height: 70px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin: 4px 2px;
  border-radius: 62%;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .buttondiv {
    height: 78px;
    width: 375px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .buttondiv {
    height: 78px;
    width: 375px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .buttondiv {
    height: 78px;
    width: 375px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .buttondiv {
    height: 78px;
    width: 375px;
  }
}
