.modalfinal {
  background-color: rgb(73, 170, 216);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0.9;
}

.image {
  height: 350px;
  width: 350px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .modalfinal {
    height: 812px;
    width: 375px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .modalfinal {
    height: 812px;
    width: 375px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .modalfinal {
    height: 812px;
    width: 375px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .modalfinal {
    height: 812px;
    width: 375px;
  }
}
