.modal {
  background-color: rgb(73, 170, 216);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.newgamebutton {
  font-size: 25px;
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  width: 243px;
  height: 56px;
}

.newgamediv {
  font-size: 65px;
  color: white;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .modal {
    height: 812px;
    width: 375px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .modal {
    height: 812px;
    width: 375px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .modal {
    height: 812px;
    width: 375px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .modal {
    height: 812px;
    width: 375px;
  }
}
